* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Libre Baskerville", serif !important;
  font-weight: 400 !important;
  color: #323954;
  line-height: 2.2 !important;
  overflow-x: hidden;
}
.b-text {
  line-height: 2.2 !important;
}
.heading {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #323954;
  line-height: 1.5 !important;
}
.button {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5 !important;
  background-color: #ea5147;
  color: #fefffa;
}
.theme-text-color:hover {
  color: #ea5147;
}
.theme-bg-color {
  background-color: #ea5147;
}

/* Navbar ---start */
.logo {
  background-image: linear-gradient(45deg, #ea5147, #323954);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.toggle-display-on {
  z-index: 99 !important;
}
.toggle-display-off {
  z-index: -99 !important;
  opacity: 0;
}
.nav-links {
  position: fixed;
  height: 92vh;
  width: 100%;
  margin-left: -31px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 100px;
}
.nav-links > * {
  margin: 20px 0px;
}
.open-menu {
  background-color: aqua !important;
}
/* Navbar ---end */

/* main section ---start */
.main-section {
  height: 84vh !important;
}
/* main section ---end */

.brand-flex {
  gap: 50px;
}
.worksamples-img {
  width: 450px;
  height: 500px;
}
/* our things section */
.our-things-section {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/* transition ---start */

.transition-left,
.transition-right {
  transition: all 1s ease-in-out;
}
.transition-left {
  transform: translateX(-600px);
}
.transition-right {
  transform: translateX(600px);
}

.translate-transition {
  transform: translateX(0);
}
/* transition ---end */
